#main {
  margin: auto;
  max-width: 600px;
  text-align: center;
  text-transform: uppercase;
}

#header {
  background-color: white;
  margin-top: 25px;
  padding: 15px;
  position: relative;
  z-index: 10;
}

#stats {
  left: 0;
  position: absolute;
  padding: 3px 6px;
  top: 0;
}

#social {
  font-size: 1.5em;
  opacity: 0.5;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
}

#social a {
  color: black;
}

h1 {
  margin-top: 0;
  font-family: 'Berkshire Swash', cursive;
  font-size: 3em;
  text-transform: none;
}

#tagline {
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 10px;
}

.line {
  align-items: center;
  height: 125px;
  padding: 15px 0;
  overflow: hidden;
  display: flex;
}

.line.animated {
  transition: all 1s;
}

.left {
  width: 20%;
}

#answers .line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.round {
  font-size: 2em;
  margin: 0.35em 0;
}

.share {
  font-size: 0.7em;
  text-transform: none;
}

.right {
  font-size: 0.7em;
  text-transform: none;
  width: 20%;
}

.pieContainer {
  height: 50px;
  margin: auto;
  width: 50px;
}

.equal {
  animation: opacity 250ms;
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 49%;
  width: 50%;
}

#equalLeft {
  left: 0%;
  transform: translateY(-50%);
}

#equalRight {
  left: 100%;
  transform: translate(-100%, -50%);
}

.final-score {
  font-size: 2em;
  width: 100%;
}

/* LEFT CHOICE */

/* CLICK ZONES */

.zone {
  height: 100%;
  cursor: pointer;
  position: absolute;
  width: 50%;
}

#rightZone {
  border-left: 1px solid black;
  opacity: 0;
  right: 0;
  transition: 250ms;
}

.rightChoice #rightZone,
.leftChoice #rightZone,
.leftChoice .equal,
.rightChoice .equal {
  opacity: 0.5;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  #main {
    max-width: 718px;
  }

  #header {
    margin-top: 35px;
  }

  .left {
    width: 25%;
  }

  .terms {
    width: 50%;
  }

  .right {
    text-align: left;
    width: 25%;
  }

  .correct strong {
    color: #46bfbd;
  }

  .wrong strong {
    color: #f7464a;
  }

  .pieContainer {
    float: left;
    height: 70px;
    margin-right: 10px;
    width: 70px;
  }

  .terms #termA::after {
    content: '';
  }

  .terms #termA::before {
    content: '';
  }
}
