.line {
  align-items: center;
  height: 125px;
  padding: 15px 0;
  overflow: hidden;
  display: flex;
}

.line.loading {
  opacity: 0.5;
}

.line.animated {
  transition: all 1s;
}

.left {
  width: 20%;
}

#answers .line {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.round {
  font-size: 2em;
  margin: 0.35em 0;
}

.share {
  font-size: 0.7em;
  text-transform: none;
}

.terms {
  height: 125px;
  margin: auto;
  position: relative;
  width: 60%;
}

.right {
  font-size: 0.7em;
  text-transform: none;
  width: 20%;
}

.pieContainer {
  height: 50px;
  margin: auto;
  width: 50px;
}

.equal {
  animation: opacity 250ms;
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 49%;
  width: 50%;
}

.equal-left {
  left: 0%;
  transform: translateY(-50%);
}

.equal-right {
  left: 100%;
  transform: translate(-100%, -50%);
}

.final-score {
  font-size: 2em;
  width: 100%;
}

/* TERMS NO CHOICE */

.term {
  display: inline-block;
  position: absolute;
  transition: 250ms;
  width: 50%;
}

.termA {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.termA::before {
  content: '<- ';
}

.termA::after {
  content: ' ->';
}

.termB {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

.term1 {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.term2 {
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}

/* LEFT CHOICE */

.terms.left-choice .termA {
  left: 0;
  top: 33%;
  transform: translateY(-50%);
}
.terms.left-choice .termA::after {
  content: '';
}
.terms.left-choice .termA::before {
  content: '';
}

.terms.left-choice .term1 {
  top: 66%;
}

.terms.left-choice .termB {
  left: 100%;
  top: 33%;
  transform: translate(-100%, -50%);
}

.terms.left-choice .term2 {
  top: 66%;
}

/* RIGHT CHOICE */

.terms.right-choice .termA {
  left: 100%;
  top: 33%;
  transform: translate(-100%, -50%);
}
.terms.right-choice .termA::after {
  content: '';
}
.terms.right-choice .termA::before {
  content: '';
}

.terms.right-choice .term1 {
  top: 66%;
}

.terms.right-choice .termB {
  left: 0%;
  top: 33%;
  transform: translateY(-50%);
}

.terms.right-choice .term2 {
  top: 66%;
}

/* CLICK ZONES */

.zone {
  height: 100%;
  cursor: pointer;
  position: absolute;
  width: 50%;
}

.right-zone {
  border-left: 1px solid black;
  opacity: 0;
  right: 0;
  transition: 250ms;
}

.right-choice .right-zone,
.left-choice .right-zone,
.left-choice .equal,
.right-choice .equal {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .terms .termA::after {
    content: '';
  }

  .terms .termA::before {
    content: '';
  }

  .left {
    width: 25%;
  }

  .terms {
    width: 50%;
  }

  .right {
    text-align: left;
    width: 25%;
  }

  .correct strong {
    color: #46bfbd;
  }

  .wrong strong {
    color: #f7464a;
  }

  .pieContainer {
    float: left;
    height: 70px;
    margin-right: 10px;
    width: 70px;
  }

  .terms #termA::after {
    content: '';
  }

  .terms #termA::before {
    content: '';
  }
}
