#main {
  margin: auto;
  max-width: 560px;
  text-align: center;
}

#terms {
  height: 200px;
  margin: auto;
  position: relative;
  width: 300px;
}

#answer {
  text-align: center;
}

/* TERMS DEFAULT */

.term {
  display: inline-block;
  font-family: sans-serif;
  padding: 10px 15px;
  position: absolute;
  text-transform: uppercase;
  transition: 250ms;
}

#termA {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#termB {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

#term1 {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#term2 {
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}

/* LEFT CHOICE */

#terms.leftChoice #termA {
  left: 0;
  top: 33%;
  transform: translateY(-50%);
}

#terms.leftChoice #term1 {
  top: 66%;
}

#terms.leftChoice #termB {
  left: 100%;
  top: 33%;
  transform: translate(-100%, -50%);
}

#terms.leftChoice #term2 {
  top: 66%;
}

/* RIGHT CHOICE */

#terms.rightChoice #termA {
  left: 100%;
  top: 33%;
  transform: translate(-100%, -50%);
}

#terms.rightChoice #term1 {
  top: 66%;
}

#terms.rightChoice #termB {
  left: 0%;
  top: 33%;
  transform: translateY(-50%);
}

#terms.rightChoice #term2 {
  top: 66%;
}

/* CLICK ZONES */

.zone {
  height: 100%;
  cursor: pointer;
  position: absolute;
  width: 50%;
}

#rightZone {
  right: 0;
}
