@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
  background: lightblue;
  font-family: 'Slabo 27px', serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#main {
  background: #fff;
  box-shadow: -1px 0 13px -1px rgba(0, 0, 0, .15);
  margin: auto;
  max-width: 95%;
  text-align: center;
  text-transform: uppercase;
}

#header {
  background-color: white;
  margin-top: 25px;
  padding: 20px;
  position: relative;
  z-index: 10;
}

#stats {
  left: 0;
  position: absolute;
  padding: 3px 6px;
  top: 0;
}

#social {
  font-size: 1.5em;
  opacity: .5;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
}

#social a {
  color: black;
}

h1 {
  color: lightblue;
  margin-top: 0;
  font-family: 'Berkshire Swash', cursive;
  font-size: 3em;
  text-transform: none;
}

#tagline {
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 10px;
}

.line {
  align-items: center;
  border-top: 3px dashed lightblue;
  height: 125px;
  padding: 15px 0;
  overflow: hidden;
  display: flex;
}

.line.animated {
  transition: all 1s;
}

.left {
  width: 20%;
}

.round {
  font-size: 2em;
  margin: .35em 0;
}

.share {
  font-size: .7em;
  text-transform: none;
}

.terms {
  height: 125px;
  margin: auto;
  position: relative;
  width: 60%;
}

.score {
  font-size: .7em;
  text-transform: none;
  width: 20%;
}

.equal {
  animation: opacity 250ms;
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 49%;
  width: 50%;
}

#equalLeft {
  left: 0%;
  transform: translateY(-50%);
}

#equalRight {
  left: 100%;
  transform: translate(-100%, -50%);
}

.final-score {
  font-size: 2em;
  width: 100%;
}

/* TERMS DEFAULT */

.term {
  display: inline-block;
  position: absolute;
  transition: 250ms;
  width: 50%
}

#termA {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

#termA::before {
  content: '<- ';
}

#termA::after {
  content: ' ->';
}

#termB {
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

#term1 {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#term2 {
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
}

/* LEFT CHOICE */

.terms.leftChoice #termA {
  left: 0;
  top: 33%;
  transform: translateY(-50%);
}
.terms.leftChoice #termA::after {
  content: '';
}
.terms.leftChoice #termA::before {
  content: '';
}

.terms.leftChoice #term1 {
  top: 66%;
}

.terms.leftChoice #termB {
  left: 100%;
  top: 33%;
  transform: translate(-100%, -50%);
}

.terms.leftChoice #term2 {
  top: 66%;
}

/* RIGHT CHOICE */

.terms.rightChoice #termA {
  left: 100%;
  top: 33%;
  transform: translate(-100%, -50%);
}
.terms.rightChoice #termA::after {
  content: '';
}
.terms.rightChoice #termA::before {
  content: '';
}

.terms.rightChoice #term1 {
  top: 66%;
}

.terms.rightChoice #termB {
  left: 0%;
  top: 33%;
  transform: translateY(-50%);
}

.terms.rightChoice #term2 {
  top: 66%;
}

/* CLICK ZONES */

.zone {
  height: 100%;
  cursor: pointer;
  position: absolute;
  width: 50%;
}

#rightZone {
  border-left: 1px solid black;
  opacity: 0;
  right: 0;
  transition: 250ms;
}

.rightChoice #rightZone,
.leftChoice #rightZone,
.leftChoice .equal,
.rightChoice .equal {
  opacity: .5;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  #main {
    max-width: 718px;
  }
  #header {
    margin-top: 35px;
  }
  .final-score {

  }
  .terms #termA::after {
    content: '';
  }
  .terms #termA::before {
    content: '';
  }
}
